* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: black;
    color: white;
}

.navbar {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1000;
}


.fa-spotify {
    font-size: 35px;
    padding-left: 25px;
    color: white;
}

.home {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 38px;
}

.fa-house {
    color: white;
}

.search {
    display: flex;
    height: 45px;
    width: 470px;
    background-color: #1f1f1f;
    border-radius: 40px;
}

.search-icon a{
    height: 45px;
    width: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-size: 24px;
    padding-left: 10px;
    background-color: #1f1f1f;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    text-decoration: none;
}

input {
    border: none;
    background: transparent;
    padding-left: 10px;
    outline: none;
    color: #b3b3b3;
    font-size: 18px;
    width: 100%;
}

.tab-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 135px;
    font-size: 20px;
    color: #b3b3b3;
    padding-right: 20px;
}

.tab-icon i {
    color: #b3b3b3;
}

.tab-icon p {
    color: #575555;
    margin-right: 10px;
    font-size: 30px;
}

.space {
    padding-left: 380px;
}

.side-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b3b3b3;
    font-weight: bold;
}

.side-nav a {
    color: #b3b3b3;
    border: none;
    background: transparent;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding-left: 8px;
    text-decoration: none;
}

.side-nav div {
    display: flex;
    padding-left: 30px;
    font-size: 30px;
}

.install {
    padding-left: 30px;
    font-size: 14px;
    text-decoration: none;
    color: #b3b3b3;
}

.side-nav .log a {
    background-color: white;
    height: 48px;
    width: 110px;
    border-radius: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-panel {
    margin-top: 70px;
    background-color: #6b6a6a28;
    height: 775px;
    width: 17%;
    border-radius: 10px;
    margin-left: 10px;
    position: fixed;
}

.side-panel .lib {
    padding: 30px 40px 0 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-weight: bold;
}

.side-panel .add-icon {
    font-size: 25px;
    height: 35px;
    width: 35px;
    font-weight: lighter;
    background-color: #b3b3b32c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
    margin-top: -10px;
    margin-right: -20px;
    text-decoration: none;
}

.create-playlist {
    margin: 40px 3px 0 8px;
    height: 135px;
    width: 265px;
    background-color: #1f1f1f;
    padding: 16px 20px;
    font-weight: bold;
    border-radius: 8px;
    color: #ffffff;
}

.second {
    font-weight: normal;
    margin-top: 10px;
    font-size: 14px;
}

.side-panel .playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    height: 35px;
    width: 140px;
    border-radius: 40px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    text-decoration: none;
}

.side-panel a {
    color: black;
    text-decoration: none;
}

.podcast {
    margin: 20px 3px 150px 8px;
    height: 175px;
    width: 265px;
    background-color: #1f1f1f;
    padding: 16px 20px;
    font-weight: bold;
    border-radius: 8px;
    color: #ffffff;
}

.side-footer span {
    display: inline-block;
    font-size: 12px;
    color: #b3b3b3;
    padding: 5px 2px 5px 20px;
}

#cook {
    display: block;
    color: #ffffff;
    padding: 15px 0 0 20px;
}

.lang-button {
    margin-top: 30px;
}

.lang-button a{
    margin-left: 20px;
    background-color: transparent;
    height: 32px;
    width: 100px;
    color: #ffffff;
    padding: 4px 16px 4px 12px;
    border: 1px solid grey;
    border-radius: 40px;
    font-weight: bold;
}

.main-panel {
    display: flex;
    
}

.main-content {
    margin-top: 70px;
    min-height: 100vh;
    width: 82%;
    margin-left: 18%;
    background-color: #6b6a6a3f;
    border-radius: 10px;
    padding: 0 40px;
}

.main-content .head1 {
    margin-top: 25px;
}

.head1 {
    display: flex;
    justify-content:space-between;
}

.head1 p {
    font-size: 14px;
    font-weight: bold;
    color: #b3b3b3;
}

.trending-song {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.first-song img {
    height: 175px;
    width: 175px;
    border-radius: 5px;
}

.first-song p {
    font-weight: bold;
}

.first-song a {
    font-size: 14px;
    font-weight: bold;
    color: #b3b3b3;
}

.head {
    padding-top: 60px;
}

.popular-art {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.art1 img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

.art1 p {
    font-weight: bold;
}

.art1 a {
    font-size: 14px;
    color: #b3b3b3;
}

.popular-radio {
    width: 180px;
    gap: 40px;
}

.popular-radio p {
    font-size: 14px;
    font-weight: lighter;
    color: #b3b3b3;
    overflow-wrap: break-word;
}

.featured-charts {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.main-content footer {
    padding-top: 100px;
}

.main-content hr {
    height: 1px;
    border: 1px;
    width: 100%;
    margin-bottom: 24px;
    background-color: #7c7c7c41;
}

footer .list {
    display: flex;
    justify-content: space-between;
    padding: 2px 32px 40px;
}

ul {
    margin-top: 20px;
    font-weight: bold;
    height: 180px;
    width: 164px;
}

ul a {
    display: block;
    margin-top: 10px;
    color: #b3b3b3;
    font-weight: normal;
}

.also-avail {
    display: flex;
}

.copyright {
    font-weight: bold;
    font-size: 14px;
    color: #7c7c7c;
    margin-top: 16px;
    padding-bottom: 40px;
}